/* style-decorateMyText.css
*/

header{
    max-width: auto;
    height: 100px;
    background-color: aquamarine;
    float: centre;
    padding-top: 20px;
    text-align: center;
}
body{
    background-color: lightblue;
}
.container{
    background-color: lightslategray;
    height: 600px;
    width: 1000px;
    margin: auto;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.legend{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    
}
#txtarea{
text-align: left;
font-size: 14pt;
padding-left: 10px;
}