/**
* filename: movie.css
*/
body {
    margin: 0;
    background-image: url('../image/movie/background.png');
    padding: 0;
    font-size: 8pt;
    font-family: Verdana, Tahoma, "sans-serif";
}
.container {
    margin: auto;
    width: 800px;
    border: solid 4px gray;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 550px 250px;
  
}
.banner {
    text-align: center;
    background-image: url('../image/movie/bannerbg.png');
    height: 50px;
}
h1 {
    font-size: 24pt;
    font-family: Tahoma, Verdana, serif;
    text-shadow: 3px 3px #999999;
    text-align: center;
}
.reviews {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 20px;
}
.miniheader {
    background-image: url("../image/movie/rbg.png");
    background-repeat: repeat-x;
    height: 83px;
}

p > img {
    float: left;
    padding-right: 5px;
}
.reviewer {
    overflow: hidden;
}
.comment {
    border: solid 2px gray;
    padding-left: 4px;
    border-radius: 10px;
    border-color: indigo;
    background-color: #E8DC9B;
    min-height: 24px;
    padding: 8px;
}

.comment p ::before {
    
    text-indent: 4px;
    font-size: 8pt;
    font-weight: bold;
}

span {
    color: red;
    font-size: 48pt;
    font-weight: bold;
    vertical-align: bottom;
}

.definition {
    background-color: #a2b964;
    font-size: 8pt;
    padding: 0px 10px 10px 10px;
    font-family: Arial, "sans-serif";
}

.right {
    margin: 0;
     background-color: #b9d862;
}
.bottom{
    background-color: #a2b964;
    text-align: center;
    height: 28px;
}
.addcolor{
    background-color: #a2b964;
}
.comment p {
    margin: 2px;
    padding: 0px;
}
.validator {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 100%;
}
.reviewer img {
    padding-right: 5px;
}
dt{
    margin-top: 10px;
    font-weight: bold;
}