/*Style webForm.css*/
footer{
    background-color: lightgray;
    width:100vw;
   /* position: relative; /* the position is static it is fixed / can not be moved or changed*/
   position: fixed;
   bottom: 0px;
   left: 0px;
   height: 50px;
   line-height: 50px;/*height of the line*/
   
   margin-right: 1em;
}
span.right-footertext{
    float: right;
    margin-right: 1em;
    }
    
    span#right-footertext{
        margin-left: 1em;
    }
    .sign-out{
        float: right;
        
        
    }
    .hello{
        margin-right: 1em;
    }

.bottom-span{
    float: right;
}
header{
color: white;
}
.nav a{
    color: white !important;
    font-size: 1.8em !important;
    }
#robel{
    margin-right:215px;
}